body {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}

.body-para {
    height: 40vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

p {
    color: black;
    flex-basis: 15vw;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}
