<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>{{ title }}</title>
</head>
<body style="background-color:{{ bg_color }}">
    <h1>Welcome to my App</h1>
    <div class="body-para">
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Condimentum vivamus ullamcorper venenatis orci nulla orci. Elit leo ac placerat ante fames. Dis magna dis platea ante conubia. Mauris phasellus nunc cubilia nam egestas habitasse, luctus auctor. Accumsan ante mollis tellus amet consectetur. Pellentesque maecenas aliquam etiam pharetra cursus donec fermentum laoreet neque.
        </p>

        <p>
            Elit quisque semper sagittis convallis dictum fermentum in amet. Quis non adipiscing bibendum ornare consectetur consectetur. Tristique suscipit curabitur, accumsan morbi scelerisque pellentesque. Volutpat pellentesque ridiculus elementum rutrum, parturient ridiculus nulla malesuada. Phasellus viverra cras tincidunt nec primis iaculis parturient. Nostra dolor scelerisque congue; hac penatibus rutrum. Nostra mauris eu habitasse eget; posuere dolor quis fusce turpis. Eu ex porttitor cras felis dictum integer.</p>
        <p>
            Convallis litora inceptos ultrices maximus auctor urna lobortis lectus. Cras condimentum efficitur pharetra viverra scelerisque eros pretium. Sagittis laoreet posuere quis ultricies cubilia gravida. Fusce hac malesuada; eget class volutpat mus. Eu dui felis tincidunt conubia litora. Urna dui varius blandit turpis ullamcorper tincidunt luctus turpis. Ornare scelerisque dictum iaculis eros convallis commodo vivamus nostra. Quam nisi augue feugiat ornare sollicitudin etiam suscipit dapibus. Gravida nisl viverra pretium nulla, fringilla maximus.
        </p>

        <p>Eget phasellus magna lacinia hac morbi turpis accumsan. Inceptos euismod semper commodo placerat vivamus congue. Metus aliquam consectetur maximus fames gravida tempus? Eleifend montes augue luctus accumsan mus dolor nam suspendisse quis. Torquent efficitur enim phasellus blandit ullamcorper elit libero eleifend. Consequat rhoncus pharetra leo enim; lacus id augue dapibus. Natoque class arcu commodo lobortis habitasse, duis libero. Semper consectetur nec cursus posuere conubia metus conubia gravida. Ultricies eu senectus sagittis aliquam per turpis.</p>

        <p>
            Iaculis lectus semper; efficitur praesent dictum tortor maecenas rhoncus sodales. Pellentesque malesuada tristique curae vitae urna donec convallis. Enim imperdiet integer et venenatis lectus hendrerit sem mauris. Laoreet habitasse ipsum praesent tempus; mauris porta sollicitudin per vulputate. Elementum integer urna nostra varius dui. At euismod molestie aenean phasellus ex enim luctus augue cubilia.
        </p>
    </div>
    <footer>
        Application version 1.0.1
    </footer>
</body>
</html>
